---
layout: default
title: "MassTransit"
subtitle: Composable middleware for the Task Parallel Library
---

<div class="cf mb5">
  <div class="fl w-20-ns">
    <img src="http://docs.masstransit-project.com/en/latest/_images/mt-logo.png" style="margin-top:1rem;padding-top:1rem;"/>
  </div>
  <div class="fl w-40-ns">
    <p class="f5 lh-copy measure">MassTransit is a free, open source, lightweight message bus for creating distributed applications using the .NET framework. MassTransit provides an extensive set of features on top existing message transports, resulting in a developer friendly way to asynchronously connect services using message-based conversation patterns. Message-based communication is a reliable and scalable way to implement a service oriented architecture.</p>

    <a href="https://groups.google.com/forum/#!forum/masstransit-discuss">
      <img src="https://img.shields.io/badge/groups-join%20convo-lightgrey.svg" />
    </a>

    <a href="https://gitter.im/MassTransit/MassTransit?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge">
      <img src="https://badges.gitter.im/Join%20Chat.svg" />
    </a>

    <a href="http://docs.masstransit-project.com/en/latest/">
      <img src="https://readthedocs.org/projects/pip/badge/?version=latest" />
    </a>
  </div>
  <div class="fl w-40-ns">
    <div class="cf">
      <dl class="fl fn-l w-100 dib-l w-auto-l lh-title mr5-l">
        <dd class="f6 fw4 ml0">MassTransit</dd>
        <dd class="f3 fw6 ml0">
          <a href="https://ci.appveyor.com/project/phatboyg/masstransit">
            <img src="https://ci.appveyor.com/api/projects/status/github/masstransit/masstransit?svg=true" />
          </a>
          <br />
          <a href="https://nuget.org/packages/masstransit">
            <img src="https://img.shields.io/nuget/v/MassTransit.svg" />
          </a>
        </dd>
      </dl>
      <dl class="fl fn-l w-100 dib-l w-auto-l lh-title mr5-l">
        <dd class="f6 fw4 ml0">Automatonymous</dd>
        <dd class="f3 fw3 ml0">
          <a href="https://ci.appveyor.com/project/phatboyg/automatonymous">
            <img src="https://ci.appveyor.com/api/projects/status/github/masstransit/automatonymous?svg=true" />
          </a>
          <br/>
          <a href="https://nuget.org/packages/Automatonymous">
            <img src="https://img.shields.io/nuget/v/Automatonymous.svg" />
          </a>
        </dd>
      </dl>
      <dl class="fl fn-l w-100 dib-l w-auto-l lh-title mr5-l">
        <dd class="f6 fw4 ml0">Green Pipes</dd>
        <dd class="f3 fw6 ml0">
          <a href="https://ci.appveyor.com/project/phatboyg/greenpipes">
            <img src="https://ci.appveyor.com/api/projects/status/github/phatboyg/greenpipes?svg=true" />
          </a>
          <br />
          <a href="https://nuget.org/packages/greenpipes">
            <img src="https://img.shields.io/nuget/v/greenpipes.svg" />
          </a>
        </dd>
      </dl>
      <dl class="fl fn-l w-100 dib-l w-auto-l lh-title mr5-l">
        <dd class="f6 fw4 ml0">Topshelf</dd>
        <dd class="f3 fw6 ml0">
          <a href="https://ci.appveyor.com/project/phatboyg/topshelf">
            <img src="https://ci.appveyor.com/api/projects/status/github/topshelf/topshelf?svg=true" />
          </a>
          <br />
          <a href="https://nuget.org/packages/topshelf">
            <img src="https://img.shields.io/nuget/v/topshelf.svg" />
          </a>

        </dd>
      </dl>
      <dl class="fl fn-l w-100 dib-l w-auto-l lh-title mr5-l">
        <dd class="f6 fw4 ml0">NewId</dd>
        <dd class="f3 fw6 ml0">
          <a href="https://ci.appveyor.com/project/phatboyg/newid">
            <img src="https://ci.appveyor.com/api/projects/status/github/phatboyg/newid?svg=true" />
          </a>
          <br />
          <a href="https://nuget.org/packages/newid">
            <img src="https://img.shields.io/nuget/v/newid.svg" />
          </a>

        </dd>
      </dl>
    </div>
  </div>
</div>

<div class="cf">
  <div class="fl w-50 w-25-ns pa3 pv2 bg-black-05">
    <div class="toc">
      <h3 class="fw9">I just want to ...</h2>
      <ul class="list pl3">
      {% for item in site.entrypoints do %}

        <li class="post-title">
          <a href="{{ site.baseurl }}{{ item.url }}" class="fw7">
            {{ item.title }}
          </a>

            <div class="pl3 fw2">
              <p>{{item.subtitle}}</p>
            </div>
        </li>
      {% endfor %}
      </ul>

    </div>
  </div>

  <div class="fl w-50 w-25-ns pa3 pv2">
    <div class="toc">
      <h3 class="fw9">I am using ...</h2>
      <ul class="list pl3">
      {% for item in site.transports do %}
        <li class="post-title">
          <a href="{{ site.baseurl }}{{ item.url }}" class="fw7">
            {{ item.title }}
          </a>

            <div class="pl3 fw2">
              <p>{{item.subtitle}}</p>
            </div>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>

  <div class="fl w-50 w-25-ns pa3 pv2 bg-black-05">
    <div class="toc">
      <h3 class="fw9">How do I ...</h2>
      <ul class="list pl3">
      {% for item in site.usecases do %}
        <li class="post-title">
          <a href="{{ site.baseurl }}{{ item.url }}" class="fw7">
            {{ item.title }}
          </a>

            <div class="pl3 fw2">
              <p>{{item.subtitle}}</p>
            </div>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>

  <div class="fl w-50 w-25-ns pa3 pv2">
    <div class="toc">
      <h3 class="fw9">What am I missing?</h2>
      <ul class="list pl3">
      {% for item in site.architecture do %}
        <li>
          <a href="{{ site.baseurl }}{{ item.url }}" class="fw7">
            {{ item.title }}
          </a>

            <div class="pl3 fw2">
              <p>{{item.subtitle}}</p>
            </div>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>

</div>


<div class="cf">
  <a href="/history/">History</a>
  <a href="/installing/">Installing</a>
  <a href="/terminology/">Terminology</a>
  <a href="/help/">Help</a>
</div>
